/* Hire Talent */

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 1340px;
  padding-left: 100px;
  padding-right: 100px;
  margin: auto;
  margin-top: 100px;
}

.child-container {
  background-color: #232323;
  border-radius: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  align-items: flex-start;
  padding: 40px;
  grid-row-gap: 24px;
}

.recruit-header {
  font-weight: 900;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.4;
}

.green {
  color: #28eea7;
  font-weight: 900;
}

.companies {
  background-color: #363738;
  text-align: left;
  padding: 15px 20px;
  font-weight: 400;
  line-height: 1.4;
}

.list {
  align-self: stretch;
  font-size: 14px;
  line-height: 1.5;
  color: #dcdee1;
}

ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}

.link {
  cursor: pointer;
  text-align: right;
  align-self: stretch;
  margin-top: auto;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 15px 20px;
  background-color: #363738;
}
a {
  color: white;
  text-decoration: none;
  font-weight: 900;
}

.cell {
  margin-top: 30px;
  align-self: stretch;
}

.cell-container {
  font-family: Noto Sans, sans-serif;
  background-color: #232323;
  border-radius: 20px;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 20px 40px;
  justify-content: flex-end;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.text {
  font-weight: 300;
  text-align: left;
  font-size: 22px;
  line-height: 1.4;
}

/* FAQs Section */
.faqs {
  margin-top: 200px;
}
.faq-container {
  border-radius: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  align-items: flex-start;
  grid-row-gap: 24px;
}

.faq-card {
  background-color: #232323;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  padding: 40px;
  border-radius: 20px;
  justify-content: space-between;
  cursor: pointer;
}
.faq-content-fixed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 800;
}

.bi .bi-chevron-down {
  color: white;
}

.black-bg {
  background-color: #232323;
}

.rotate-90 {
  transform: rotate(90deg);
}
.hidden-content {
  display: none;
  font-weight: 300;
  padding-top: 1rem;
  line-height: 1.6;
}

.hidden-content ul {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.title {
  display: flex;
  font-weight: bolder;
}

.arrow {
  color: #28eea7;
  font-size: 2rem;
}

.title-txt {
  color: white;
  font-size: 1.5rem;
  padding: 0.3rem;
}

.circles {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.black-circle,
.green-circle,
.grey-circle,
.white-circle {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.black-circle {
  background-color: #363738;
}
.white-circle {
  background-color: white;
}

.grey-circle {
  background-color: #dcdee1;
}

.green-circle {
  background-color: #28eea7;
}

/* Contact US */

.contact {
  background-color: #28eea7;
}

.contact .title {
  background-color: #363738;
  padding-left: 1rem;
  padding-right: 1rem;
}

.contact-child-container {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  margin-bottom: 100px;
  height: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: flex-start;
}

.contact-left-container {
  background-color: #363738;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 40px;
  border-radius: 20px;
  width: 30%;
  align-self: stretch;
  justify-content: space-between;
}

.contact-right-container {
  background-color: #363738;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  padding: 40px;
  border-radius: 20px;
  width: 70%;
  align-self: stretch;
}

.contact-all-form-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}
.contact-two-form-container {
  display: flex;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: row;
  display: flex;
  margin-bottom: 1rem;
}

.contact-form-container {
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  align-self: stretch;
  display: flex;
}

.contact-title {
  color: #a5a6a9;
  font-weight: 600;
}

.grey-text {
  color: #a5a6a9;
  text-align: left;
  flex: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.contact-map {
  width: 100%;
  border-radius: 20px;
}

.email-text {
  color: #28eea7;
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contact-mini-title {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 900;
}

.textarea {
  padding: 1rem;
}

.contact-input {
  height: 45px;
  margin-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.contact-bullets {
  margin-top: 1rem;
  margin-bottom: 1rem;
  grid-column-gap: 24px;
  flex-wrap: wrap;
  justify-content: flex-start;
  display: flex;
}

.contact-bullet-points {
  align-self: stretch;
}

.contact-submit {
  display: flex;
  align-self: flex-end;
  cursor: pointer;
  align-items: center;
  font-weight: 800;
  padding: 15px;
  color: #232323;
  background-color: #28eea7;
  margin-top: 1.5rem;
}
